$border-color: #7CFFBA;

body {
	font-family: Quicksand-Light;
	font-size: 14px;

	h2 {
		font-weight: normal;
	    padding: 10px 10px 0px;
	    margin: 20px 0px 10px;
	    text-transform: uppercase;
	    letter-spacing: 1px;
		font-size: 0.8em;
	}

	.wrapper { max-width: 1024px; margin: 0 auto; }

	.disposal-dates {
		position: relative;
		margin-bottom: 60px;
	}

	.disposal-date {
		margin: 3px 0;

		.date {
			display: inline-block;
			padding: 0px 10px;
			font-size: 1.4em;
			color: rgb(0, 0, 0);
			min-width: 60px;
		}

		.days {
			display: inline-block;
			min-width: 90px;
			text-align: left;
			padding: 0px 5px;
			font-weight: bold;
		}

		.descr {
			display: inline-block;
			padding: 0px 10px 0px 20px;
			letter-spacing: 0.2px;
		}
	}
}
