$border-color: #7CFFBA;

body {
	font-size: 14px;

	h2 {
		font-weight: normal;
	    padding: 10px 10px 0px;
	    margin: 20px 0px 10px;
	    text-transform: uppercase;
	    letter-spacing: 1px;
		font-size: 0.8em;
	}

	.wrapper { width: 65%; margin: 0 auto; }

	#next-disposal-date { position: relative; }
	#upcoming-disposal-dates { position: relative; }

	.disposal-date {
		margin: 3px 0;

		.date {
			display: inline-block;
			padding: 5px 10px;
			font-size: 1.4em;
			color: rgb(0, 0, 0);
			min-width: 60px;
		}

		.days {
			display: inline-block;
			min-width: 85px;
			text-align: left;
			padding: 5px 5px;
			font-weight: bold;
		}

		.descr {
			display: inline-block;
			padding: 10px 10px 10px 20px;
			letter-spacing: 0.2px;
		}
	}
}
